<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>{{ game }} 預測器</title>

  <!-- DataTables CSS & JS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>
  <div style="margin-bottom:0.5rem;">
		{% if game == '539' %}
		<strong>539</strong> | <a href="/set_game/fantasy5">天天樂</a>
		{% else %}
		<a href="/set_game/539">539</a> | <strong>天天樂</strong>
		{% endif %}
  </div>
  <nav style="margin-bottom:0.5rem;">
		<a href="/">開獎號碼</a> |
		<a href="/drag">拖牌</a>|
		<a href="/sumation">和數</a>
  </nav>

  <h2 style="margin-top:0.5rem;">{{ game }} 歷史各期號碼</h2>
  <table id="dataTable" border="1" cellpadding="10" cellspacing="0" title="歷史各期號碼">
    <thead>
      <tr>
        <th>日期</th>
        {% for i in range(1, 6) %}
          <th>號碼{{ i }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          {% for num in row %}
            <td>{{ num }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  <hr>